@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        PayHub’s platform delivers an innovative series of electronic payment solutions through our terminals and systems. 
        We are able to offer consumers access to numerous products from major top brands, 
        we distribute an uninterrupted supply of prepaid mobile credit and are also able to activate swipe products, 
        initiate payments online and on mobile devices.
    </p>

    <p>
        Our role is to provide more access points for payment giving both consumers and product owners, 
        greater convenience, lowered costs and a faster transaction speed. 
        PayHub’s entire IT system is fully backed up by a comprehensive business continuity provision, which includes our primary server located in the UK, mirrored with our locally based server.
    </p>

    <p>
        Our platform is licensed by Ingenico Group, 
        a global leader in seamless payments making our electronic prepayment processing secure, 
        flexible and convenient. With state of the art technology, 
        you can be sure that you will be ahead of the game with PayHub. 
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>